<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-sm-12" *ngFor="let page of pages">
            <mat-card class="example-card pointer" [routerLink]="page.route">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{page.title}}</mat-card-title>
                <mat-card-subtitle>{{page.route}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
                <!--mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                </mat-card-actions-->
            </mat-card>
        </div>
    </div>
    <app-contact-us-form></app-contact-us-form>
    <br>
    <br>
</div>